
// Main grey variations (darkest to lightest)
$charcoal:  #222222;
$slate:     #444444;
$silver:    #aaaaaa;
$powder:    #f2f2f2;
$white:     #ffffff;

// Link Colors
$link:       #0074D9;
$link-light: #9CC8F1;

// Selection color
$selection: #b2b2b2;

//Navigation colors
$nav-active:   #222222;
$nav-quiet:    rgba(0, 0, 0, 0.3);
$nav-fallback: #bbbbbb;
