/* Minified SlabText CSS — included here to minimize HTTP requests */
.slabtexted .slabtext{display:-moz-inline-box;display:inline-block;white-space:nowrap}.slabtextinactive .slabtext{display:inline;white-space:normal;font-size:1em !important;letter-spacing:inherit !important;word-spacing:inherit !important;*letter-spacing:0 !important;*word-spacing:0 !important;}.slabtextdone .slabtext{display:block;line-height:0.9;}

/* Custom Styles to Override Foundation Styles */
@media only screen {

    body {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        background-color: #f0f0f4;   
    }

    h1, h2, h3, h4, h5, h6, p, a {
        font-family: 'Source Sans Pro', sans-serif;
    }

    h1 {
        font-weight: 300;
    }

    .headline {
        padding: 0;
        padding-top: 0.5rem;
    }

    #headline {
        font-weight: 900;
        text-align: center;
        text-transform: uppercase;
        margin: 0 auto;
        font-size: 4.6875rem;
        color: #333399;
    }

    .menu {
        font-size: 1.5rem;
        margin-top: 1rem;
        margin-right: 1.625rem;
    }

    h2 {
        font-weight: 600;
    }

    p {
        font-weight: 400;
    }

    h3 {
        font-weight: 300;
        color: #919195;
    }

    h5 {
        font-weight: 300;
        color: #606064;
    }

    h6 {
        font-weight: 400;
        color: #96969a;
    }

    hr {
        border: solid #d6d6da;
        border-width: 1px 0 0;
        clear: both;
        margin: 1.25rem 0 1.1875rem;
        height: 0; 
    }

    .indigo {
        background-color: #221c35;
    }

    .maroon {
        background-color: #85144b;
    }

    .red {
        background-color: #e83944;
    }

    .blue {
        background-color: #333399;
    }

    .purple {
        background-color: #673ab7;
    }

    .fuchsia {
        background-color: #b10dc9;
    }

    .white {
        background-color: #fff;
    }

    .indigo-text {
        color: #221c35;
    }

    .maroon-text {
        color: #85144b;
    }

    .red-text {
        color: #e83944;
    }

    .blue-text {
        color: #333399;
    }

    .purple-text {
        color: #673ab7;
    }

    .fuchsia-text {
        color: #b10dc9;
    }

    .white-text {
        color: #fff;
    }

    /* SVG Logo styles
    -------------------------------------------------- */
    .svg .jd-logo {
        margin-top: 0.8625rem;
        margin-left: 0.9375rem;
        width: 2.5rem;
        height: 2.5rem;
        background: url('/img/jd-logo.svg') no-repeat top left;
        background-size: contain;
        /*transition: margin-left 300ms ease-out;*/
    }

    .no-svg .jd-logo {
        background: url('/img/jd-logo.png');
    }
    /* -------------------------------------------------- */

    .footer-text {
        color: #96969a;
        margin-top: 0.25rem;
    }

    .align-right {
        text-align: right;
    }

    .float-right {
        float: right;
    }

    .top-row {
        margin-top: 2rem;
        margin-bottom: 0.5rem;
    }

    .bottom-row {
        margin-bottom: 0.25rem;
    }

    .lighter-weight {
        font-weight: 300;
        text-transform: none;
        letter-spacing: 0.125rem;
    }

    .medium-weight {
        font-weight: 400;
        text-transform: none;
        letter-spacing: 0.0875rem;
    }

    .top-bar {
        background: transparent;
        background: rgba(255, 255, 255, 0.92);
        height: 4.375rem;
    }

    .contain-to-grid {
        background: rgba(255, 255, 255, 0.9);
    }

    .top-bar .name a {
        display: block;
    }

    .title-area {
        float: left;
    }

    .reveal-modal {
        background-color: rgba(51, 51, 153, 0.9);
        border: none;
        box-shadow: none;
    }

/* End @media only screen */
}

@media only screen and (min-width: 64.063em) {
    
/*    .svg .jd-logo {
        margin-left: 0;
    }*/

/*    #headline {
        font-size: 100%;
    }*/

/* End @media only screen and (min-width: 64.063em) */
}


