@import 'boilerplate.css';
@import 'typeplate.css';
@import 'grid.css';

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
}

a {
    color: #06f;
}

iframe {
    border: 0;
    overflow: hidden;
}

.container {
    margin: 0 auto;
    max-width: 90em; /* 1620px at 18px base font size (set in typelate.css) */
    padding: 1em 0;
}

.footer {
    padding-top: 1.5em;
}

.desc {
    color: #888;
}

.intro {
    border-bottom: 1px dotted #aaa;
    padding-bottom: 1.5em;
}

.social {
    border-top: 1px dotted #aaa;
    padding-top: 1.5em;
}

.last-item {
    border-top: 1px dotted #aaa;
    padding-top: 0.875em;
}

.footer {
    border-top: 1px dotted #aaa;
}

.content {
    border-bottom: 1px dotted #aaa;
    margin-bottom: 1.5em;
}


/* ==========================================================================
   Media Queries for Styling (See grid.css for column breakpoints)
   ========================================================================== */

@media only screen and (min-width: 34em) {
    /*p, ul {
        font-size: 0.875em;
    }*/
    .feature:first-child,
    .info:first-child {
        border-right: 1px dotted #aaa;
    }
    .container {
        padding: 1em;
    }
    /*h1 {
        font-size: 2.6em;
    }
    h2 {
        font-size: 1.6em;
    }*/
}

@media only screen and (min-width: 54em) {
    .content {
        border: none;
        border-right: 1px dotted #aaa;
        margin-bottom: 0;
    }
    .info:first-child {
        border: none;
    }
    /*h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 1.7em;
    }*/
}

@media only screen and (min-width: 76em) {
    .info:first-child {
        border-right: 1px dotted #aaa;
    }
    /*h1 {
        font-size: 3.2em;
    }
    h2 {
        font-size: 1.8em;
    }*/
}

