@import 'boilerplate.css';
@import 'typeplate.css';
@import 'grid.css';

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
}

/* Links
------------------------------------------------------- */
a:link, a:visited {
    color: #06f;
    outline: none;
    text-decoration: none; 
}

a:hover {
    text-decoration: none;
    color: #205f82; 
}

iframe {
    border: 0;
    overflow: hidden;
}

ol, ul {
    list-style: none; 
}

/* Page structure
------------------------------------------------------- */
#wrap {
    margin: 0 auto;
    max-width: 62.5em; /* 1125px at 18px base font size */
    padding: 1em 0;
}
    .lt-ie9 #wrap { max-width: 39em; }


#logo {
  float: left; 
}
    #logo a:hover {
        opacity: .60; 
    }

div[role="main"] {
    width: 70%;
    margin: 0 auto;
}

div.inner {
    padding-top: 2em;
}

a.menu {
    display: none; 
}
    @media only screen and (max-width: 50em) {
        a.menu {
            display: block;
            position: absolute;
            top: .75em;
            right: 1em; 
            font-size: 1.5em;
            color: #222;
            opacity: .30;
        } 
            a.menu:hover, a.menu:active {
                opacity: 1;
            }
    }

nav[role="navigation"] {
    width: 70%;
    margin: 0 auto;
    padding-top: 0.556em; 
}
    @media only screen and (max-width: 50em) {
        nav[role="navigation"] {
            display: none;
            clear: left;
            margin-bottom: 1.25em;
            padding-top: 1.111em;
            width: 100%; 
        } 
    }

nav[role="navigation"] ul {
    padding: 0 0 0.611em 0; 
    margin-top: 0;
    margin-bottom: 0.611em;
}
    @media only screen and (max-width: 50em) {
        nav[role="navigation"] ul {
                padding: 0;
                text-align: left;
                border-top: 1px solid rgba(0, 0, 0, 0.05);
            } 
        }

nav[role="navigation"] ul li {
    display: inline;
    margin: 0 2.222em 0 0; 
}
    @media only screen and (max-width: 50em) {
        nav[role="navigation"] ul li {
                display: block;
                margin: 0; 
            } 
        }

nav[role="navigation"] ul li a {
    font-weight: 600;
    letter-spacing: 1px;
    letter-spacing: 0.056rem;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.3); 
}
    @media only screen and (max-width: 50em) {
        nav[role="navigation"] ul li a {
                display: block;
                padding: 1.111em 0;
                border-bottom: 1px solid rgba(0, 0, 0, 0.05); 
            } 
        }

nav[role="navigation"] ul li a:hover {
    color: #222; 
}

nav[role="navigation"] ul li.active a {
    color: #222; 
}

/*header {
    overflow: hidden;
    background: lightblue;
}*/


/* ==========================================================================
   Media Queries for Styling (See grid.css for column breakpoints)
   ========================================================================== */

@media only screen and (min-width: 34em) {
    /*p, ul {
        font-size: 0.875em;
    }*/
    /*.feature:first-child,
    .info:first-child {
        border-right: 1px dotted #aaa;
    }*/
    /*#wrap {
        padding: 1em;
    }*/
    /*h1 {
        font-size: 2.6em;
    }
    h2 {
        font-size: 1.6em;
    }*/
}

@media only screen and (min-width: 54em) {
    /*.content {
        border: none;
        border-right: 1px dotted #aaa;
        margin-bottom: 0;
    }
    .info:first-child {
        border: none;
    }*/
    /*h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 1.7em;
    }*/
}

@media only screen and (min-width: 76em) {
    /*.info:first-child {
        border-right: 1px dotted #aaa;
    }*/
    /*h1 {
        font-size: 3.2em;
    }
    h2 {
        font-size: 1.8em;
    }*/
}

