
/*---------------------------------------------------------*\

    Viewport Rules

\*---------------------------------------------------------*/

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }


/*---------------------------------------------------------*\

    HTML5 Boilerplate v5.0 

\*---------------------------------------------------------*/

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0 0 0.2em 0;
    background: #222;
    color: #f2f2f2;
    padding: 0.2em 0 0.4em 2.5em;
}

.browserupgrade a:link,
.browserupgrade a:visited {
    color: #9CC8F1;
}

  
/*---------------------------------------------------------*\

    Typeplate 

\*---------------------------------------------------------*/

/*!
TYPEPLATE : STARTER KIT
URL ........... http://typeplate.com
VERSION ....... 2.1.0
Github ........ https://github.com/typeplate/starter-kit
AUTHORS ....... Dennis Gaebel (@gryghostvisuals) & Zachary Kain (@zakkain)
LICENSE ....... Creative Commmons Attribution 3.0 (http://creativecommons.org/licenses/by/3.0)
LICENSE URL ... https://github.com/typeplate/starter-kit/blob/master/license.txt
*/

/*----------------------------------*\
    Unicode Ampersand
\*----------------------------------*/

@font-face {
    font-family: "Ampersand";
    src: local("Georgia"), local("Garamond"), local("Palatino"), local("Book Antiqua");
    unicode-range: U+0026;
}

@font-face {
    font-family: "Ampersand";
    src: local("Georgia");
    unicode-range: U+270C;
}

/**
 *
 * Extend this class on any element of your
 * choice for ampersands.
 *
 * For example:

   <h6 class="ampersand">Dewey Cheat 'em & Howe</h6>

 */

.typl8-ampersand {
    font-family: Ampersand, Verdana, sans-serif;
}

/*----------------------------------*\
    Word Wrap
\*----------------------------------*/

.typl8-breakword {
    word-wrap: break-word;
}

.typl8-normal-wrap {
    word-wrap: normal;
}

.typl8-inherit-wrap {
    word-wrap: auto;
}

/*----------------------------------*\
    OpenType
\*----------------------------------*/

.typl8-font-feature--smcp {
    -webkit-font-feature-settings: "smcp";
    -moz-font-feature-settings: "smcp";
    -ms-font-feature-settings: "smcp";
    font-feature-settings: "smcp";
}

.typl8-font-feature--onum {
    -webkit-font-feature-settings: 'onum';
    -moz-font-feature-settings: 'onum';
    -ms-font-feature-settings: 'onum';
    font-feature-settings: 'onum';
}

/*----------------------------------*\
    Drop Capitals
\*----------------------------------*/

/**
 *
 * Extend this object into your markup.

   <p class="typl8-drop-cap">What a wonderful day it is out there wouldn't you'd say?</p>

 */

.typl8-drop-cap:first-letter {
    float: left;
    margin: 10px 10px 0 0;
    padding: 0 20px;
    font-size: 4em;
    font-family: inherit;
    line-height: 1;
    text-indent: 0;
    background: transparent;
    color: inherit;
}

p + .typl8-drop-cap {
    text-indent: 0;
    margin-top: 0;
}

/*----------------------------------*\
    Base Type
\*----------------------------------*/

html {
    font: normal 112.5%/1.65 serif; /* base font size 18px with 1.65 line-height */
}

body {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
    color: #444444;
}

/*----------------------------------*\
    Fine Print
\*----------------------------------*/

small {
    font-size: 65%;
}

/*----------------------------------*\
    Headings
\*----------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
    margin-top: 0;
    text-rendering: optimizeLegibility; /*  voodoo to enable ligatures and kerning | https://developer.mozilla.org/en-US/docs/CSS/text-rendering */
    color: #222222;
}

/**
*
* Extend included classes on any element of your
* choosing for adjusting type based on the scale
* provided.

* For example:

 <h6 class="typl8-giga">Awesome Headline</h6>
 <p class="typl8-tera">a story about a dude</p>

* Our Type Scale is as follows with px fallbacks
* for IE 6-8 as they do not understand REM units.
*
* 18, 21, 24, 36, 48, 60, 72, 90, 117
*
*
* Explanation:
* margin-bottom = ( base font-size * base line-height ) / current font-size
*
* Makes sure that there's always one unit of measure's worth of space between stuff
* for headings. This is better than spacing using line-height because of the wrapping issue where we have
* wrapping onto 2 lines with a high line-height.
*
**/

.typl8-tera {
    font-size: 117px;
    font-size: 6.5rem; /* 117 / 18 = 6.5 */
    margin-bottom: 4.56923px;
    margin-bottom: 0.25385rem;
}

.typl8-giga {
    font-size: 90px;
    font-size: 5rem; /* 90 / 18 = 5 */
    margin-bottom: 5.94px;
    margin-bottom: 0.33rem;
}

.typl8-mega {
    font-size: 72px;
    font-size: 4rem; /* 72 / 18 = 4 */
    margin-bottom: 7.425px;
    margin-bottom: 0.4125rem;
}

h1,
.typl8-alpha {
    font-size: 60px;
    font-size: 3.33333rem; /* 60 / 18 = 3.3333 */
    margin-bottom: 8.91px;
    margin-bottom: 0.495rem;
}

h2,
.typl8-beta {
    font-size: 48px;
    font-size: 2.6667rem; /* 48 / 18 = 2.6667 */
    margin-bottom: 11.1375px;
    margin-bottom: 0.61875rem;
}

h3,
.typl8-gamma {
    font-size: 36px;
    font-size: 2rem; /* 36 / 18 = 2 */
    margin-bottom: 14.85px;
    margin-bottom: 0.825rem;
}

h4,
.typl8-delta {
    font-size: 24px;
    font-size: 1.3333333333333333rem; /* 24 / 18 = 1.3333 */
    margin-bottom: 22.275px;
    margin-bottom: 1.2375rem;
}

h5,
.typl8-epsilon {
    font-size: 21px;
    font-size: 1.16667rem; /* 21 / 18 = 1.1667 */
    margin-bottom: 25.45714px;
    margin-bottom: 1.41429rem;
}

h6,
.typl8-zeta {
    font-size: 18px;
    font-size: 1rem; /* 18 = 18 × 1 */
    margin-bottom: 29.7px;
    margin-bottom: 1.65rem;
}

/*----------------------------------*\
    Paragraphs and Indentation
\*----------------------------------*/

p {
    margin: auto auto 1.5em; /* bottom margin for paragraphs */
}

p + p {
    text-indent: 1.5em; /* indent subsequent paragraphs */
    margin-top: -1.5em; /* no top margin on subsequent paragraphs */
}

/*----------------------------------*\
    Hyphens
\*----------------------------------*/

input,
abbr,
acronym,
blockquote,
code,
kbd,
q,
samp,
var {
    /* Accepted values: [ none | manual | auto ] */ /* http://meyerweb.com/eric/thoughts/2012/12/17/where-to-avoid-css-hyphenation */
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

/*----------------------------------*\
    Code Blocks
\*----------------------------------*/

pre code {
    word-wrap: normal;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
}

pre {
    white-space: pre;
}

code {
    white-space: pre;
    font-family: monospace;
}

/*----------------------------------*\
    Abbreviations Markup
\*----------------------------------*/

/**
 *
 * Extend this object into your markup

  <abbr title="hyper text markup language">HTML</abbr>

 */

abbr {
    -webkit-font-variant: small-caps;
    -moz-font-variant: small-caps;
    -ms-font-variant: small-caps;
    font-variant: small-caps;
    font-weight: 600;
    text-transform: lowercase;
    color: gray;
}

abbr[title]:hover {
    cursor: help; /* cursor changed to a question mark when it has a title */
}


/*---------------------------------------------------------*\

    Dead Simple Grid (c) 2012 Vladimir Agafonkin

\*---------------------------------------------------------*/

.col {
    padding: 0 1.5em;
}

.row .row {
    margin: 0 -1.5em;
}

.row:before, .row:after {
    content: "";
    display: table;
}

.row:after {
    clear: both;
}

/*@media only screen {*/
    .col {
        float: left;
        width: 100%;

        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }
/*}*/

/* Adjust columns according to screen space below
   ********************************************** */

/* you only need width to set up columns; all columns are 100%-width by default, so we start
   from a one-column mobile layout and gradually improve it according to available screen space */

@media only screen and (min-width: 34em) {
    .feature, .info { width: 50%; }
}

@media only screen and (min-width: 54em) {
    .content { width: 66.66%; }
    .sidebar { width: 33.33%; }
    .info    { width: 100%;   }
}

@media only screen and (min-width: 76em) {
    .content { width: 58.33%; } /* 7/12 */
    .sidebar { width: 41.66%; } /* 5/12 */
    .info    { width: 50%;    }
}


/*---------------------------------------------------------*\

    Page Structure

\*---------------------------------------------------------*/

html, 
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: #f2f2f2;
}

iframe {
    border: 0;
    overflow: hidden;
}

ol, ul {
    list-style: none; 
}

#wrap {
    background: #fff;
    overflow: hidden;
    min-height: 100%;
    position: relative;
}

hr#topbar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 1em;
    background: #f2f2f2;
    z-index: 200;
    border: none;
    margin: 0;
    padding: 0;
}

section#main {
    padding-top: 3.25em;
    padding-bottom: 8.333em; /* Height of footer element */
    background: #fff;
}

#logo {
    float: left; 
}

#logo a:hover, 
#logo a:active,
#logo a:focus {
    opacity: .60;
    outline: 0; 
}

.screen-reader-text {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

header.banner {
    margin: 0 auto;
    max-width: 55.556em; /* 1000px at 18px base font size */
    z-index: 100;
    position: relative;
    overflow: hidden;
}
    .lt-ie9 header.banner { max-width: 39em; }

a.menu {
    display: none; 
}
    @media only screen and (max-width: 50em) {
        a.menu {
            display: block;
            position: absolute;
            top: 0.5em;
            right: 0; 
            font-weight: 600;
            letter-spacing: 1px;
            letter-spacing: 0.056rem;
            text-transform: uppercase;
            text-decoration: none;
            color: #bbb;
            color: rgba(0, 0, 0, 0.3); 
        } 
            a.menu:hover, 
            a.menu:active {
                color: #222; 
                outline: 0;
            }
                a.menu:focus {
                    outline: 0;
                }
    }

nav.navigation {
    width: 68%;
    margin: 0 auto;
    padding-top: 0.555em; 
}
    @media only screen and (max-width: 50em) {
        nav.navigation {
            display: none;
            clear: left;
            padding-top: 1.111em;
            width: 100%; 
        } 
    }

nav.navigation ul {
    padding: 0 0 0.6125em 0; 
    margin-top: 0;
    margin-bottom: 0;
}
    @media only screen and (max-width: 50em) {
        nav.navigation ul {
            padding: 0;
            text-align: left;
            border-top: 0.056em dotted #dfdfdf;
        } 
    }

nav.navigation ul li {
    display: inline;
    margin: 0 2.222em 0 0; 
}
    @media only screen and (max-width: 50em) {
        nav.navigation ul li {
            display: block;
            margin: 0; 
        } 
    }

nav.navigation ul li a {
    font-weight: 600;
    letter-spacing: 1px;
    letter-spacing: 0.056rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #bbb;
    color: rgba(0, 0, 0, 0.3); 
}
    @media only screen and (max-width: 50em) {
        nav.navigation ul li a {
                display: block;
                padding: 1em 0 1.111em 0;
                border-bottom: 0.056em dotted #dfdfdf;
            } 
        }

nav.navigation ul li a:hover,
nav.navigation ul li a:active,
nav.navigation ul li a:focus {
    color: #222; 
    outline: 0;
}

nav.navigation ul li.active a {
    color: #222; 
}

div.main {
    margin: 0 auto;
    max-width: 55.556em; /* 1000px at 18px base font size */
    padding-bottom: 1.5em;
}
    .lt-ie9 div.main { max-width: 39em; }

div.inner {
    margin: 0 auto;
    width: 68%;
    padding-top: 2.5em;
    transition: width 200ms ease-in-out;
}
    @media only screen and (max-width: 50em) {
        div.inner {
            width: 100%;
        }
    }

/*----------------------------------*\
    Footer
\*----------------------------------*/

footer {
    height: 8.333em; /* Set to be the same as padding-bottom on section#main */
    position: absolute;
    bottom: 0;
    left: 0;
    background: #f2f2f2;
}

div.foot {
    margin: 0 auto;
    max-width: 55.556em; /* 1000px at 18px base font size */
}
    .lt-ie9 div.foot { max-width: 39em; }

ul.social {
    padding: 0;
    margin: 0;
}

ul.social li{
    display: inline;
    margin: 0 2.222em 0 0; 
}


/*---------------------------------------------------------*\

    Typography Adjustments

\*---------------------------------------------------------*/

body {
    font-family: 'Source Sans Pro', Verdana, sans-serif;
    font-weight: 400;
}

h1, 
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Source Serif Pro', Georgia, serif;
    font-weight: 400;
}

strong {
    font-weight: 600;
}

footer {
    color: #777;
    font-weight: 300;
}

/*----------------------------------*\
    Main Body Text Links
\*----------------------------------*/

div.inner a:link, 
div.inner a:visited {
    color: #0074D9;
    text-decoration: none; 
}

div.inner a:hover,
div.inner a:active,
div.inner a:focus {
    text-decoration: none;
    border-bottom: 0.056em dotted #0074D9;
    padding-bottom: 0.111em;
    outline: 0;
}

/*----------------------------------*\
    Text Selection
\*----------------------------------*/

::-moz-selection {
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    background: #b2b2b2; 
}

::selection {
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    background: #b2b2b2; 
}


/*---------------------------------------------------------*\

    Helper Classes

\*---------------------------------------------------------*/

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/*---------------------------------------------------------*\

    Print Styles

\*---------------------------------------------------------*/

@media print,
   (-o-min-device-pixel-ratio: 5/4),
   (-webkit-min-device-pixel-ratio: 1.25),
   (min-resolution: 120dpi) {

}

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
